.container-wrap.huronda-wrap {
  padding-bottom: 0 !important;
}

.prev-next-container {
  display: flex;
  width: 100%;
  height: 15rem;
  position: relative;
  font-size: 1.5rem;
  font-weight: 400;
  @media(max-width: 768px) {
    display: block;
    height: auto;
    font-size: 1rem;
  }
  a {
    display: flex;
    flex: 1;
    transition: 0.3s;
  }

  
  .prev, .next {
    display: flex;
    flex: 1;
    background-size: cover;
    background-position: center;
    padding: 3rem;
    position: relative;
  }
  
  .hover-state {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.3s;
    background: linear-gradient(transparent 0%,rgba(0,0,0,.1)50%,rgba(0,0,0,.1)51%,rgba(0,0,0,.4)100%);
  }
  .content {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    background-color: transparent;
    background: linear-gradient(transparent 0%,rgba(0,0,0,.2)50%,rgba(0,0,0,.2)51%,rgba(0,0,0,.6)100%);
    padding: 2rem;
    transition: 0.3s;
    z-index: 1;
    &:hover .hover-state {
      opacity: 1;
    }
    h3, a, p {
      color: #fff !important;
      margin: 0;
      padding: 0;
    }
    h3 {
      margin-bottom: 0.5rem;
    }
    .text {
      position: absolute;
      bottom: 1.5rem;
      left: 4rem;
      z-index: 2;
    }
  }
}