.swiper-slide {
  .content {
    h2, p {
      text-shadow: 0 0 3px rgba(0,0,0,.27);
    }
    h2 {
      letter-spacing: 1px;
    }
  }
}

body #page-header-bg h1 {
  text-shadow: 0 0 3px rgba(0,0,0,.27);
}

.mb-0 {
  margin-bottom: 0;
}

.mt-0 {
  margin-top: 0;
}